@charset "utf-8";
/* CSS Document */
body{
	background: #eee;
	padding-top: 20px;
}
#header{
	background:#009900;
	padding-bottom:10px;
	padding-left:20px;
}
#body{
	background:#FFF;
	padding-top:20px;
	padding-bottom:10px;
	padding-right:20px;
}
#footer{
	background:#337ab7;
	padding-top:10px;
	padding-left:20px;
}
#header h3{
	text-align:left;
	color:#FFF;
}
#footer p{
	color:#FFF;
}
.form-control{
	border-radius:0px;
}
.btn{
	border-radius:0px;
}